@using ASP_MVC_Library.Models
@model List<BookModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = $"Main page";
}

<div class="container">
    <div class="container mt-5">
        <div class="row row-cols-4 gy-3 col-10 text-break m-auto">
            @foreach (BookModel book in Model)
            {
                <div class="col lh-1 book-card mx-3 p-3 border rounded">
                    <p>Id: @book.Id</p>
                    <p>Publisher: @book.Publisher</p>
                    <p>Title: @book.Title</p>
                    <p>Pages: @book.Pages</p>
                    <p>Author(-s): @string.Join(", ", book.Authors.Select(author => author.FirstName + " " + author.LastName))</p>
                </div>
            }
        </div>
    </div>
</div>
